*{
    background-color: cornsilk;
}
.black p{
    color: cadetblue;
    font-size: 20px;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 5px;
 }